@import url('https://cdn.jsdelivr.net/npm/@qpokychuk/gilroy@1.0.2/index.css');
@import "tailwindcss";

@theme {
    --color-primary: #4E2FD2;
    --font-sans: Gilroy, sans-serif;
    --font-gilroy: Gilroy, var(--font-sans);
}


body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div {
    font-family: Gilroy, var(--font-sans);
}

:root {
    --color-primary: #4E2FD2;
}

html {
    scrollbar-gutter: stable;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}